<%- include('partials/header') -%>
    <div class="container w-50">
        <h1 class="text-center my-4">Upload Images Here</h1>
        <!--  MULTIPLE FILE -->
        <h3 class="mt-5 mb-2">Multiple Uploads</h3>
        <div class="custom-file">
            <form class="form-control" action="/uploadmultiple" enctype="multipart/form-data" method="POST">
                <input name="multipleImages" type="file" class="custom-file-input"" multiple>
                <label class=" custom-file-label" for="customFile">Choose Image</label>
                <input class="btn btn-danger btn-block my-2" type="submit" value="Upload Multiple Images" />
            </form>
        </div>
     </div>  
<%- include('partials/footer') -%>
